#navigation-bar {
  background-color: var(--color-primary);
}

#navigation-bar li {
  font-size: 1.4em;
  color: white;
  font-weight: 500;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation-bar li .navbar-item {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

#navigation-bar li .navbar-item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 3px solid white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

#navigation-bar li .navbar-item:hover {
  color: var(--color-white-hover);
}

#navigation-bar li .navbar-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#navigation-bar .sidebar-btn {
  background-color: white;
}

.stations-list-dialog .station-item:hover {
  background-color: var(--color-white-hover);
}

.stations-list-dialog a {
  text-decoration: none;
  color: black;
}

::ng-deep .p-sidebar {
  background-color: var(--color-primary);
}
