#buy-ticket-section {
  .station-item {
    img {
      width: 25px;
    }
  }
}

#intro-section {
  .title {
    margin-top: 20px;
    font-size: 2em;
  }

  .subtitle {
    font-size: 1.5em;
  }
}

#intro-section {
  background-color: white;
}

#station-carousel-section {
  .station-item {
    display: flex;
    justify-content: center;

    img {
      height: 225px;
      object-fit: cover;
    }
  }

  .station-description {
    width: 375px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

::ng-deep {
  .p-dropdown {
    width: 100%;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    border-color: var(--color-primary) !important;
    box-shadow: inset 0 0 0 1px var(--color-primary),
      inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary),
      inset 0 0 0 1px var(--color-primary) !important;
  }

  .p-dropdown-panel {
    .p-dropdown-items {
      .p-dropdown-item.p-highlight {
        color: var(--color-primary) !important;
        background-color: rgba(255, 60, 60, 0.12) !important;
      }
    }
  }

  .p-inputtext:enabled:focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary),
      inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary),
      inset 0 0 0 1px var(--color-primary);
  }

  .p-float-label {
    input:focus ~ label,
    textarea:focus ~ label {
      color: black;
    }
  }
}
