<!-- Search form section -->
<section id="buy-ticket-section">
  <div class="grid py-4">
    <div class="col-4 col-offset-4" id="buy-ticket-form">
      <p-card>
        <ng-template pTemplate="content">
          <div class="grid">
            <div class="col-12">
              <p-dropdown [options]="stations" [(ngModel)]="selectedStation" optionLabel="name" [filter]="true"
                filterBy="name" (onChange)="onDropdownValueChanged()">
                <ng-template pTemplate="selectedItem" *ngIf="selectedStation">
                  <div class="station-item station-item-value flex align-items-center" *ngIf="selectedStation">
                    <img src="../../../assets/cercanias-logo.png" alt="cercanias-logo">
                    <div class="ml-3 font-bold">{{ selectedStation.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-station pTemplate="item">
                  <div class="station-item flex align-items-center">
                    <img src="../../../assets/cercanias-logo.png" alt="cercanias-logo">
                    <div class="ml-3">{{ station.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input pInputText type="text" id="origin" name="origin" class="w-full">
                <label for="origin">Origen</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label">
                <input pInputText type="text" id="origin" name="destination" class="w-full">
                <label for="destination">Destino</label>
              </span>
            </div>
            <div class="col-12">
              <span class="p-float-label w-full">
                <p-calendar inputId="date-selected" [dateFormat]="'dd/mm/yy'" inputStyleClass="w-full"
                  [minDate]="minDate" [maxDate]="maxDate">
                </p-calendar>
                <label for="date-selected">Fecha</label>
              </span>
            </div>
            <div class="col-12 flex justify-content-center">
              <button pButton pRipple label="COMPRAR BILLETE" class="p-button-raised bg-color-primary w-15rem mt-2"></button>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</section>

<!-- Intro Section -->
<section id="intro-section">
  <div class="py-4">
    <h2 class="text-center mb-5 mt-0 text-4xl">
      ¿Por qué viajar en Cercanías?
    </h2>

    <div class="grid justify-content-evenly">
      <div class="col-3" *ngFor="let introInfo of introInfos">
        <app-intro-ilustration-info [infoTitle]="introInfo.title" [infoSubtitle]="introInfo.subtitle"
          [infoImgSrc]="introInfo.imgSrc"></app-intro-ilustration-info>
      </div>
    </div>
  </div>
</section>

<!-- New App section -->
<section id="new-app-section">
  <div class="grid">
    <div class="col-6 flex justify-content-center">
      <img src="../../../assets/phone-cercanias-logo.png" alt="" srcset="" />
    </div>
    <div class="col-6 flex flex-column justify-content-evenly">
      <div>
        <h2 class="text-5xl">Ahora una nueva aplicación</h2>
        <p class="text-xl">
          Puedes descargar la nueva aplicación de Cercanias, para obtener una
          experiencia con la que pueda contar y viajar con confianza.
        </p>

        <div class="grid mt-4">
          <div class="col-6" *ngFor="let info of newAppInfo">
            <app-new-app-info-item [icon]="info.icon" [title]="info.title">
            </app-new-app-info-item>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="col-10 col-offset-1 flex justify-content-evenly">
          <img src="../../../assets/android-badge-en 1.png" width="200" alt="" srcset="" />
          <img src="../../../assets/ios-badge-en 1.png" width="200" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Carousel showcasing the main stations -->
<section id="station-carousel-section">
  <div class="py-4">
    <h2 class="text-center mb-2 mt-0 text-4xl">Núcleos de Cercanías</h2>
  </div>

  <p-carousel [value]="stations" [showIndicators]="false" [numVisible]="3" [numScroll]="1" [autoplayInterval]="5000"
    [circular]="true">
    <ng-template let-station pTemplate="item">
      <div class="station-item">
        <div class="station-item-content">
          <img class="border-round" src="../../../assets/cercanias-{{ station.imgName }}-img.png" width="375" />
          <h5 class="text-4xl my-3">{{ station.name }}</h5>
          <p class="text-2xl mt-0 station-description">
            {{ station.description }}
          </p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>