#intro-section .title {
  margin-top: 20px;
  font-size: 2em;
}

#intro-section .subtitle {
  font-size: 1.5em;
}

#new-app-section {
  background-color: white;
}

#station-carousel-section .station-item {
  display: flex;
  justify-content: center;
}

#station-carousel-section .station-description {
  width: 375px;
}
