<div id="default-station-radio-btn" class="cursor-pointer">
  <p-card>
    <ng-template pTemplate="content">
      <div class="flex align-items-center justify-content-between px-4">
        <div class="flex align-items-center">
          <img
            src="../../../assets/cercanias-logo.png"
            alt="cercanias-logo"
            width="30"
          />
          <p class="text-sm m-0 ml-2">{{ name }}</p>
        </div>
        <p-radioButton
          name="{{ groupName }}"
          value="{{ name }}"
          [(ngModel)]="selectedStation"
        ></p-radioButton>
      </div>
    </ng-template>
  </p-card>
</div>
