#customer-service-form-page {
  min-height: 75.5vh;

  #header {
    position: relative;

    #route-history {
      position: absolute;
      top: 0;

      .page-link {
        color: var(--color-primary);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
