#customer-service-form-page {
  min-height: 75.5vh;
}

#customer-service-form-page #header {
  position: relative;
}

#customer-service-form-page #header #route-history {
  position: absolute;
  top: 0;
}

#customer-service-form-page #header #route-history .page-link {
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
}

#customer-service-form-page #content #customer-service-form input,
#customer-service-form-page #content #customer-service-form textarea {
  width: 100%;
}

#customer-service-form-page #content #customer-service-form #send-form-btn {
  width: 120px;
  background-color: var(--color-primary);
}

::ng-deep .p-inputtext:enabled:focus {
  border-color: var(--color-primary);
  box-shadow: inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary);
}

::ng-deep .p-float-label input:focus ~ label,
::ng-deep .p-float-label textarea:focus ~ label {
  color: black;
}

::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-dropdown:not(.p-disabled).p-focus {
  border-color: var(--color-primary);
  box-shadow: inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary);
}

::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: var(--color-primary);
  background-color: rgba(255, 60, 60, 0.12);
}
