<section id="profile-page">
  <div id="content" class="py-4">
    <div class="grid">
      <div class="col-10 md:col-3 col-offset-1">
        <div id="profile-page-btns" class="mt-5">
          <div class="grid grid-nogutter">
            <div class="col-12" (click)="selectOption('edit-profile')">
              <app-profile-page-option-btn [icon]="'edit-profile'" [btnName]="'Editar perfil'"
                [isSelected]="selectedOption == 'edit-profile'"></app-profile-page-option-btn>
            </div>
            <div class="col-12" (click)="selectOption('user-tickets')">
              <app-profile-page-option-btn [icon]="'user-tickets'" [btnName]="'Mis billetes'"
                [isSelected]="selectedOption == 'user-tickets'"></app-profile-page-option-btn>
            </div>
            <div class="col-12" (click)="signOut()">
              <app-profile-page-option-btn [icon]="'logout'" [btnName]="'Cerrar sesión'"></app-profile-page-option-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="col-offset-1 md:col-6 col-10">
        <ng-template [ngIf]="selectedOption == 'edit-profile'">
          <div id="edit-profile">
            <h1 class="mt-0 text-3xl">Editar Perfil</h1>
            <p-divider></p-divider>
            <form id="edit-profile-form" class="mt-4" [formGroup]="editProfileForm"
              (ngSubmit)="saveUserChanges(editProfileForm)">
              <p-card header="1. Datos Personales" [styleClass]="'my-4'">
                <ng-template pTemplate="content">
                  <div class="grid">
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input required pInputText type="text" id="first_name" name="first_name"
                          formControlName="firstName" />
                        <label for="first_name">Nombre*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input required pInputText type="text" id="first_surname" name="first_surname"
                          formControlName="firstSurname" />
                        <label for="first_surname">Primer Apellido*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input pInputText type="text" id="second_surname" name="second_surname"
                          formControlName="secondSurname" />
                        <label for="second_surname">Segundo Apellido</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input required pInputText type="tel" id="phone_number" name="phone_number"
                          formControlName="phoneNumber" />
                        <label for="phone_number">Telefono Móvil*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input required pInputText type="text" id="nationality" name="nationality"
                          formControlName="nationality" />
                        <label for="nationality">Nacionalidad*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input required pInputText type="text" id="id_number" name="id_number"
                          formControlName="idNumber" />
                        <label for="id_number">DNI*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <p-calendar [required]="true" inputId="birth-date" name="birth-date" [dateFormat]="'dd/mm/yy'"
                          [maxDate]="maxBirthDate" formControlName="birthDate"></p-calendar>
                        <label for="birth-date">Fecha de nacimiento*</label>
                      </span>
                    </div>
                  </div>
                </ng-template>
              </p-card>

              <p-card header="2. Dirección Postal" [styleClass]="'my-4'">
                <ng-template pTemplate="content">
                  <div class="grid">
                    <div class="col-12 sm:col-8">
                      <span class="p-float-label">
                        <input required pInputText type="text" id="address_name" name="address_name"
                          formControlName="addressName" />
                        <label for="address_name">Nombre de la calle*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-4">
                      <span class="p-float-label">
                        <input pInputText type="number" id="address_number" name="address_number"
                          formControlName="addressNumber" />
                        <label for="address_number">Numero*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-8">
                      <span class="p-float-label">
                        <input pInputText type="text" id="address_extras" name="address_extras"
                          formControlName="addressExtras" />
                        <label for="address_extras">Edificio, Piso, Portal, Bloque, Puerta, etc..</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-4">
                      <span class="p-float-label">
                        <input pInputText required type="text" id="province" name="province"
                          formControlName="province" />
                        <label for="province">Provincia*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input pInputText required type="text" id="municipality" name="municipality"
                          formControlName="municipality" />
                        <label for="municipality">Localidad*</label>
                      </span>
                    </div>
                    <div class="col-12 sm:col-6 md:col-4">
                      <span class="p-float-label">
                        <input pInputText required type="number" maxlength="5" id="postal_code" name="postal_code"
                          formControlName="postalCode" />
                        <label for="postal_code">Código Postal*</label>
                      </span>
                    </div>
                  </div>
                </ng-template>
              </p-card>

              <div class="flex justify-content-center">
                <button pButton pRipple type="submit" label="GUARDAR CAMBIOS"
                  class="p-button-raised bg-color-primary mt-4" [disabled]="!editProfileForm.valid"></button>
              </div>
            </form>
          </div>

          <p-toast></p-toast>
        </ng-template>
        <ng-template [ngIf]="selectedOption == 'user-tickets'">
          <div id="user-tickets">
            <h1 class="mt-0 text-3xl">Mis billetes</h1>
            <p-divider></p-divider>
            <ng-template [ngIf]="userTickets.length <= 0" [ngIfElse]="showUserTickets">
              <div class="col-12">
                <h2 class="text-center">No dispones de ningún billete</h2>
                <div class="flex align-items-center justify-content-center">
                  <a [routerLink]='["/comprar-billete"]' class="no-underline">
                    <button pButton pRipple label="COMPRAR BILLETE" class="p-button-raised bg-color-primary"></button>
                  </a>
                </div>
              </div>
            </ng-template>

            <ng-template #showUserTickets>
              <div class="grid">
                <div class="col-12 my-2" *ngFor="let ticket of userTickets">
                  <app-user-ticket-card [ticket]="ticket"></app-user-ticket-card>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>