#train-line-info-card .selected {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#train-line-info-card .c1,
#train-line-info-card .c1a {
  background-color: #4285f4;
}

#train-line-info-card .c2 {
  background-color: #34a853;
}

#train-line-info-card .c3 {
  background-color: #d7001e;
}

#train-line-info-card .c4 {
  background-color: #7d2582;
}

#train-line-info-card .c5 {
  background-color: #0f3287;
}

#train-line-info-card .c6 {
  background-color: #f59628;
}

::ng-deep .p-card .p-card-content {
  padding: 0;
}
