#train-line-info-card {
  .selected {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .c1,
  .c1a {
    background-color: #4285f4;
  }

  .c2 {
    background-color: #34a853;
  }

  .c3 {
    background-color: #d7001e;
  }

  .c4 {
    background-color: #7d2582;
  }

  .c5 {
    background-color: #0f3287;
  }

  .c6 {
    background-color: #f59628;
  }
}

::ng-deep {
  .p-card {
    .p-card-content {
      padding: 0;
    }
  }
}
