<div class="py-2" *ngIf="trainLine">
    <p-card id="train-line-info-card">
        <ng-template pTemplate="content">
            <div class="flex align-items-center justify-content-around">
                <div id="train-line" class="{{ trainLine.cssColor }}">
                    <p class="m-0">{{ trainLine.line }}</p>
                </div>
                <div id="stations">
                    <p class="m-0 font-bold">{{ trainLine.originStation }}</p>
                    <p class="m-0 font-bold">{{ trainLine.destinationStation }}</p>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>