#train-lines-page {
  min-height: 75.5vh;

  #header {
    position: relative;

    #route-history {
      position: absolute;
      top: 0;

      .page-link {
        color: var(--color-primary);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  #content {
    #caption-card {
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

::ng-deep {
  .p-timeline-event {
    .p-timeline-event-opposite {
      max-width: 15%;

      display: flex;
      align-items: center;
      justify-content: end;
    }

    .p-timeline-event-marker {
      background-color: var(--color-primary);
    }

    .p-timeline-event-connector {
      background-color: var(--color-primary);
    }

    /* .p-timeline-event-separator {
      --margin: 4px;
      margin-top: var(--margin);

      .p-timeline-event-connector {
        margin-top: calc(0.5rem + var(--margin));
      }
    } */
  }
}
