<section id="station-info-page">
  <div id="header" class="bg-white">
    <img
      src="../../../assets/cercanias-malaga-img.png"
      alt="cercanias-station-img"
      class="cercanias-img"
    />
    <h1 id="station-name" class="text-3xl text-center m-0 py-5">
      Cercanias Málaga
    </h1>
  </div>

  <div id="content" class="py-3">
    <p class="text-3xl my-1 text-center">¿Que necesitas?</p>
    <div class="grid justify-content-center">
      <div class="col-10 grid justify-content-center">
        <div class="col-5 py-4 px-7" *ngFor="let info of stationInfo">
          <p-card header="{{ info.title }}">
            <ng-template pTemplate="header">
              <img
                src="{{ info.headerImg }}"
                alt="header-img"
                class="border-round-top"
              />
            </ng-template>
            <p class="m-0 text-base">{{ info.subtitle }}</p>
            <ng-template pTemplate="footer">
              <div class="flex justify-content-end">
                <a routerLink="{{ info.nextPageUrl }}" class="no-underline">
                  <button
                    pButton
                    pRipple
                    label="Mas detalles"
                    icon="pi pi-eye"
                    class="p-button-text"
                    styleClass="p-button-sm"
                    iconPos="right"
                  ></button>
                </a>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</section>
