<section id="station-carrousel">
  <div class="py-4">
    <h2 class="text-center mb-5 mt-0 text-4xl">Núcleos de Cercanías</h2>
  </div>

  <p-carousel
    [value]="stations"
    [numVisible]="3"
    [numScroll]="1"
    [autoplayInterval]="4000"
    [circular]="true"
  >
    <ng-template
      let-station
      pTemplate="item"
      class="test-donde-cojones-esta-esto"
    >
      <div class="station-item">
        <div class="station-item-content">
          <img
            src="../../../assets/cercanias-{{ station.imgName }}-img.png"
            width="375"
            alt=""
            srcset=""
          />
          <h5 class="text-4xl my-3">{{ station.name }}</h5>
          <p class="text-3xl mt-0 station-description">
            {{ station.description }}
          </p>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</section>
