@font-face {
  font-family: "Fredoka";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Fredoka-Regular.ttf");
}

@font-face {
  font-family: "Fredoka";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Fredoka-Medium.ttf");
}

@font-face {
  font-family: "Fredoka";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Fredoka-SemiBold.ttf");
}

:root {
  --background-color: #eff3f6;
  --color-primary: #ff3c3c;
  --color-primary-hover: #ff6666;
  --color-white-hover: #eeecec;
}

* {
  font-family: "Fredoka";
}

body {
  background-color: var(--background-color);
  margin: 0;
  overflow-x: hidden;
}

.bg-color-primary {
  background-color: var(--color-primary) !important;
}

.text-color-primary {
  color: var(--color-primary) !important;
}

.icon-3xl {
  font-size: 30px;
  height: 30px;
}

.icon-4xl {
  font-size: 40px;
  height: 40px;
}

.icon-5xl {
  font-size: 50px;
  height: 50px;
}

.icon-6xl {
  font-size: 60px;
  height: 60px;
}

.p-button-icon-only {
  padding: 0.5rem !important;
}

.p-button-icon {
  color: var(--color-primary) !important;
}

.p-calendar-w-btn {
  border-radius: 0 !important;
  border: 1px solid black !important;
  width: 100%;
}

.p-card-subtitle {
  color: black !important;
}
