<section id="announcements-section">
    <div id="header" class="bg-white">
        <h1 class="text-3xl text-center m-0 py-5">Avisos</h1>
    </div>

    <div id="content" class="py-4">
        <div id="dropdown-select" class="flex justify-content-center">
            <p-dropdown [options]="stations" [(ngModel)]="selectedStation" optionLabel="name" [filter]="true"
                filterBy="name" (onChange)="onDropdownValueChanged()">
                <ng-template pTemplate="selectedItem">
                    <div class="station-item station-item-value flex align-items-center" *ngIf="selectedStation">
                        <img src="../../../assets/cercanias-logo.png" alt="cercanias-logo">
                        <div class="ml-3 font-bold">{{ selectedStation.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-station pTemplate="item">
                    <div class="station-item flex align-items-center">
                        <img src="../../../assets/cercanias-logo.png" alt="cercanias-logo">
                        <div class="ml-3">{{ station.name }}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>

        <ng-template [ngIf]="isLoading || !selectedAnnouncements" [ngIfElse]="loadAnnouncements">
            <div class="flex align-items-center justify-content-center my-4">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </ng-template>

        <ng-template #loadAnnouncements>
            <ng-template [ngIf]="selectedAnnouncements!.length > 0" [ngIfElse]="noAnnouncements">
                <div id="announcements-cards" class="grid py-4 px-2">
                    <div class="col-12 sm:col-6 md:col-4 px-4" *ngFor="let announcement of selectedAnnouncements">
                        <p-card header="{{ announcement.title }}" subheader="{{ announcement.date | date:'dd/MM/yyyy'}}">
                            <p class="m-0">{{ announcement.message }}</p>
                        </p-card>
                    </div>
                </div>
            </ng-template>

            <ng-template #noAnnouncements>
                <div id="no-announcements-message">
                    <p class="my-4 text-2xl font-bold text-center">Sin avisos</p>
                </div>
            </ng-template>
        </ng-template>
    </div>
</section>