<div id="ticket-fares" *ngIf="fare">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between px-3">
        <h3>{{ fare.fareDescription.title }}</h3>
        <p-radioButton [inputId]="fare.fareId" name="{{ groupName }}" [value]="fare" [(ngModel)]="selectedFare" (onClick)="onRadioButtonClick()">
        </p-radioButton>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <ul class="m-0">
        <li *ngFor="let content of fare.fareDescription.content" class="py-1">
          <p class="m-0">{{ content }}</p>
        </li>
      </ul>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end">
        <p class="font-bold">Price: {{ farePrice | number: '1.2-2' }} €</p>
      </div>
    </ng-template>
  </p-card>
</div>