#train-fare-details-page {
  min-height: 75.5vh;

  #header {
    position: relative;

    #route-history {
      position: absolute;
      top: 0;

      .page-link {
        color: var(--color-primary);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  #content {
    #fare-content-list,
    #fare-prices-list {
      li:not(:last-child) {
        padding-bottom: 15px;
      }
    }

    .accordion-tab {
      padding: 8px;
    }

    #more-info-links {
      list-style-type: none;
      padding: 0;

      li {
        font-size: 1.25rem;
        padding-bottom: 10px;
        font-weight: bold;

        a {
          color: var(--color-primary);
        }
      }
    }
  }
}

::ng-deep {
  .p-accordion {
    .p-accordion-header {
      .p-accordion-header-link {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
}
