#account-registration-page {
  min-height: 75.5vh;

  #account-registration-form {
    input {
      width: 100%;
    }
  }
}

::ng-deep {
  .p-inputtext:enabled:focus {
    border-color: var(--color-primary);
    box-shadow: inset 0 0 0 1px var(--color-primary),
      inset 0 0 0 1px var(--color-primary), inset 0 0 0 1px var(--color-primary),
      inset 0 0 0 1px var(--color-primary);
  }

  .p-float-label {
    .p-inputwrapper-focus ~ label,
    input:focus ~ label,
    textarea:focus ~ label {
      color: black;
    }
  }

  .p-calendar {
    width: 100%;

    .p-calendar-w-btn {
      border-radius: 4px !important;
      border: 1px solid rgba(0, 0, 0, 0.38) !important;
    }

    .p-datepicker table {
      span.p-highlight {
        color: var(--color-primary);
        background-color: rgba(255, 60, 60, 0.12);
      }
    }
  }
}
