#news-section {

  .header {
    background-color: white;
  }

  .content {
    min-height: 60.7vh;
  }

  .news-info-card {
    img {
      object-fit: cover;
    }

    .news-info-link {
      color: var(--color-primary);
      font-weight: bold;
      cursor: pointer;
    }
  }
}