<footer id="footer" class="grid py-2">
  <div class="col-12 flex-order-2 md:col-6 lg:flex-order-1 lg:col-4 flex align-items-center justify-content-center">
    <div *ngFor="let icon of icons">
      <a href="{{ icon.link }}" target="_blank">
        <ic-icon class="social-media-icon" icon="{{ icon.logo }}">
        </ic-icon>
      </a>
    </div>
  </div>
  <div
    class="col-12 flex-order-1 text-base sm:text-xl lg:col-5 lg:flex-order-2 flex align-items-center justify-content-center">
    {{ currentYear }} &copy; Renfe - Todos los derechos reservados
  </div>
  <div class="col-12 flex-order-3 md:col-6 lg:flex-order-3 lg:col-3 flex align-items-center justify-content-center">
    <a href="https://www.renfe.com/" target="_blank">
      <img class="cursor-pointer" src="../../../assets/renfe-logo.png" alt="renfe-logo" width="100" />
    </a>
  </div>
</footer>