<footer id="footer" class="grid py-2">
  <div class="col-4 flex align-items-center justify-content-center">
    <ic-icon
      *ngFor="let icon of icons"
      class="social-media-icon"
      icon="{{ icon.logo }}"
      (click)="openLink(icon.link)"
    ></ic-icon>
  </div>
  <div class="col-5 text-xl flex align-items-center justify-content-center">
    {{ currentYear }} &copy; Renfe - Todos los derechos reservados
  </div>
  <div class="col-3 flex align-items-center justify-content-center">
    <img
      class="cursor-pointer"
      src="../../../assets/renfe-logo.png"
      alt="renfe-logo"
      width="100"
      (click)="openLink('https://www.renfe.com/')"
    />
  </div>
</footer>
