<footer id="footer" class="grid py-4">
    <div class="col-4 flex align-items-center justify-content-center">
        <ic-icon class="social-media-icon" icon="facebook"></ic-icon>
        <ic-icon class="social-media-icon" icon="instagram"></ic-icon>
        <ic-icon class="social-media-icon" icon="twitter"></ic-icon>
        <ic-icon class="social-media-icon" icon="youtube"></ic-icon>
        <ic-icon class="social-media-icon" icon="linkedin"></ic-icon>
    </div>
    <div class="col-5 text-xl flex align-items-center justify-content-center">
        {{ currentYear }} &copy; Renfe - Todos los derechos reservados
    </div>
    <div class="col-3 flex align-items-center justify-content-center">
        <img src="../../../assets/renfe-logo.png" alt="renfe-logo" width="125">
    </div>
</footer>