#footer {
  background-color: white;
}

#footer .social-media-icon {
  color: var(--color-primary);
  font-size: 1.7em;
  display: flex;
  align-items: center;
}

#footer .social-media-icon:hover {
  color: var(--color-primary-hover);
}
