#footer {
  background-color: white;

  .social-media-icon {
    color: var(--color-primary);
    font-size: 1.7em;
    display: flex;
    align-items: center;
  }

  .social-media-icon:hover {
    color: var(--color-primary-hover);
  }
}
