#footer {
    background-color: white;

    .social-media-icon {
        cursor: pointer;
        color: var(--color-primary);
        font-size: 2em;
        display: flex;
        align-items: center;
        margin: 0 20px;
    }
}