<section id="train-fares-page">
    <div id="header" class="bg-white py-6">
        <p id="route-history" class="ml-4 text-lg">
            <a id="home-page-link" routerLink="/{{ railNetworkId }}">Málaga</a> / Tarifas
        </p>
        <h1 id="page-title" class="text-3xl text-center m-0">Tarifas</h1>
    </div>

    <div id="content" class="pb-2">
        <p-tabView>
            <p-tabPanel header="Billetes y abonos">
                <ng-template pTemplate="content">
                    <div class="grid">
                        <div class="col-4 px-4 py-2" *ngFor="let fare of regularFares">
                            <app-train-fare-info-card [railNetworkId]="railNetworkId" [fare]="fare">
                            </app-train-fare-info-card>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Descuentos">
                <ng-template pTemplate="content">
                    <div class="grid">
                        <div class="col-4 px-4 py-2" *ngFor="let fare of discountFares">
                            <app-train-fare-info-card [railNetworkId]="railNetworkId" [fare]="fare">
                            </app-train-fare-info-card>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
</section>